* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

html, body {
    min-width: 600px;
}

.header {
    height: 50px;
    width: 100%;
    padding: 10px 0px;
    background: #009688;
}

.header__logo {
    height: 50px;
    float: left;
    padding: 5px 20px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.nav {
    display: none;
}

.nav_right {
    float: right;
}

.nav__item {
    list-style: none;
    display: block;
    padding: 15px;
}

.nav__item_hor {
    display: inline-block;
}

.nav__item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav__item a:hover {
    text-decoration: underline;
}

.content {
    width: 90%;
    margin: 40px auto;
}

.content__page {
    display: none;
}

/* LOGIN */
.block {
    width: 400px;
    height: 230px;
    background: #f5f5f5;
    text-align: center;
    margin: auto;
}

.block__header {
    padding: 5px;
    font-size: 18px;
    background: #009688;
    color: #fff;
}

.login__input {
    width: 343px;
    height: 40px;
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid #fff;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.list {
    font-size: 25px;
}

.btn:hover {
    background: #fff;
    color: #009688;
}

.list__item {
    list-style: none;
    margin: 10px;
}

.list_2 {
    margin: 0px 30px;
    font-size: 20px;
}

.name {
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.appointments, .nv {
    width: 100%;
    background: #f5f5f5;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 20px 0;
    font-weight: bold;
}

.appointments__content {
    border-top: 1px solid #bebebe;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: normal;
}

.app_list {
    padding: 10px 0;
    border-bottom: 1px solid #bebebe;
}

.app_list__item {
    list-style: none;
}

.app_text {
    display: inline-block;
    width: 25%;
}
.app_delete {
    display: inline-block;
    width: 9%;
}


.app_delete a {
    color: rgb(112, 33, 33);
    text-decoration: none;
}

.app_delete a:hover {
    text-decoration: underline;
}

.error {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #a00909;
    margin: 10px;
}

select {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 300px;
    text-align: center;
}